.container__small-card {
  padding: 1vh;
  height: 25vh;
  width: 45vw;

  background-color: #ffffff20;
  border: 2px solid #ffffff02;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.small-card__photo {
  width: 22vh;
  height: 22vh;
  overflow: hidden;
}

.small-card__photo > img {
  padding: 1vh;
  width: 100%;
  height: 100%;

  background-color: #ffffff;
  border-radius: 10px;

  object-fit: cover;
  object-position: center;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
